# Backend Environment Variables
DEBUG=False
SECRET_KEY=founderscamp
ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.dev,.your-production-domain.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend-domain.com

# PostgreSQL Database
DATABASE_URL=postgres://username:password@localhost:5432/hosilpro_db

# Telegram
TELEGRAM_BOT_TOKEN=8761808924:AAGrTornZrY2dRAbrMb-2NaIAXqYjo9Isgw
